@{
    ViewData["Title"] = "Withdraw";
}

<div class="text-center">
    <h1 class="display-4">Withdraw</h1>
    <p>You withdraw (amount)</p>
    <p>Your current balance is (balance)</p>
    
</div>
